.about{
    background: linear-gradient(rgba(164, 134, 3, 0.4),rgba(2, 0, 73, 0.5)), url('../../assets//about-banner.jpg');
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.about h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:700px) {
    .about{
        height: 60vh;
    }
    
}